.DS_Store
output
sources
clone
	../../.CFUserTextEncoding
	../../.DS_Store
	../../.RData
	../../.Rapp.history
	../../.Rhistory
	../../.Xauthority
	../../.adobe/
	../../.anaconda/
	../../.bash_history
	../../.bash_profile
	../../.bashrc.swp
	../../.cache/
	../../.conda/
	../../.condarc
	../../.config/
	../../.continuum/
	../../.dbclient/
	../../.gitconfig
	../../.idlerc/
	../../.ipython/
	../../.jupyter/
	../../.lesshst
	../../.local/
	../../.matplotlib/
	../../.python_history
	../../.tcshrc
	../../.viminfo
	../../.vscode-R/
	../../.vscode/
	../../.xonshrc
	../../.zprofile
	../../.zsh_history
	../../.zsh_sessions/
	../../.zshrc
	../../.zshrc.swp
	../../Applications/
	../../Creative Cloud Files/
	../../Desktop/
	../../Documents/
	../../Downloads/
	../../Library/
	../../Movies/
	../../Music/
	../../OneDrive
	../../Pictures/
	../../Public/
	../../Test/
	../../anaconda3/
	../../destination_folder
	../../mysql_python_course_content/
	../../penguins.R
	../
	../../repo-exercise/
	../../requirements.txt
	../../soon/
	../../udemey/